<head th:fragment="head">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <style>
    .logo-container{
      background-color: #47bcff;
    }

    .logo{
      font-family: 'Handlee', cursive;
      font-size: 2.5rem;
    }

    .corTop{
      color: white;
      text-shadow:0.5px 0.5px 3px black;

    }
  </style>
  <title>Title</title>
</head>

<div th:fragment="divCabecalho" class="logo-container mb-3 p-3 d-flex justify-content-between">
  <span class="logo corTop">mudi</span>
  <span class="mt-3">
    <a class="corTop" href="/login" sec:authorize="!isAuthenticated()">login</a>
    <a onclick="document.querySelector('#form-login').submit()" class="corTop" href="#" sec:authorize="isAuthenticated()">logout</a>
    <form id="form-login" th:action="@{/logout}" method="post"></form>
  </span>
</div>

<div th:fragment="titulo(valor)" class="jumbotron mb-0">
  <h1 class="display-4" th:text="${valor}"></h1>
</div>